
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket;
    var start_time;
    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/quiz');
        socket.on('connect', function() {
            socket.emit('joined', {});
            $('#chat').val('');
            $('#buzzer').attr({disabled: true});
            $('#buzzer').html('Wait!');
            $('#chat').attr({disabled: 'disabled'});
        });
        socket.on('buzz', function(data) {
            $('#chat').val($('#chat').val() + data.username  + '\t\t(' + data.timedelta + ' s)' + '\n');
        });
        socket.on('joined', function(data) {
            if($("#" + data.new_user + "_tile").length == 0) {
                socket.emit('add_quizzer', {'new_user': data.new_user, 'new_user_sessionid': data.new_user_sessionid})
            }
            $('#chat').val($('#chat').val() + '<< ' + data.new_user + ' has joined! >>\n');
        });
         socket.on('add_quizzer', function(data) {
             $('#quizzers').append(data.quizzers);
         });
        socket.on('reset', function() {
            $('#chat').val('');
            $('#buzzer').attr({disabled: 'disabled'});
            $('#answer').attr({disabled: 'disabled'});
            $('#buzzer').html('Wait!');
        });
        socket.on('start_fastest_finger', function() {
            $('#buzzer_area').load("{{ url_for('main._buzzer') }}");
            $('#chat').val('');
            $('#buzzer').attr({disabled: false});
            $('#buzzer').html('Buzz')
            start_time = Date.now();
        });
        socket.on('start_type_answer', function() {
            $('#buzzer_area').load("{{ url_for('main._type_answer') }}");
            $('#chat').val('');
            $('#buzzer').attr({disabled: false});
            $('#buzzer').html('Send')
            start_time = Date.now();
        });
        socket.on('remove_user', function(data) {
            window.location.replace("{{ url_for('main.index') }}");
        });
        socket.on('remove_quizzer', function(data) {
            $('#chat').val($('#chat').val() + '<< ' + data.username + ' left >>\n');
            $("#" + data.username + "_tile").remove();
        });
        socket.on('buzzed_quizmaster', function(data) {
            $('#chat').val($('#chat').val() + data.username + ': ' + data.answer + '\t(' + data.timedelta + ' s)' + '\n');
        });
        $(window).unload(function(){
          socket.emit('remove_user', {'username': "{{ current_user.username }}"});
        });
    });
    function buzz() {
        var buzz_time = Date.now();
        var timedelta = ((buzz_time - start_time)/1000).toString()

        socket.emit('buzz', {'timedelta': timedelta});
        $('#buzzer').attr({disabled: true});
        $('#buzzer').html('Buzzed!');
    };
    function type_buzz() {
        var buzz_time = Date.now();
        var timedelta = ((buzz_time - start_time)/1000).toString()
        var answer = $('#answer').val()
        socket.emit('type_buzz', {'answer': answer, 'timedelta': timedelta});
        $('#buzzer').attr({disabled: true});
        $('#answer').attr({disabled: true});
        $('#buzzer').html('Sent!');
    };
    $('#answer').keypress(function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
    function reset() {
        socket.emit('reset', {});
    };
    function start_fastest_finger() {
        socket.emit('start_fastest_finger', {});
    };
    function start_type_answer() {
        socket.emit('start_type_answer', {});
    };
    function remove_user(username) {
        socket.emit('remove_user', {'username': username});
    };
</script>
