
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket;
    var start_time;
    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/quiz');
        socket.on('connect', function() {
            socket.emit('joined', {});
            $('#chat').val('');
            $('#buzzer').attr({disabled: true});
            $('#buzzer').html('Wait!');
        });
        socket.on('buzz', function(data) {
            var buzz_time = Date.now();
            var timedelta = ((buzz_time - start_time)/1000).toString()
            $('#chat').val($('#chat').val() + data.username  + '\t\t(' + timedelta + ' s)' + '\n');
            //$('#buzzer').attr({disabled: true});
        });
        socket.on('joined', function(data) {
            if($("#" + data.new_user + "_tile").length == 0) {
                socket.emit('add_quizzer', {'new_user': data.new_user, 'new_user_sessionid': data.new_user_sessionid})
            }
            $('#chat').val($('#chat').val() + '<< ' + data.new_user + ' has joined! >>\n');
        });
         socket.on('add_quizzer', function(data) {
                 $('#quizzers').append(data.quizzers);
         });
        socket.on('reset', function() {
            $('#chat').val('');
            $('#buzzer').attr({disabled: true});
            $('#buzzer').html('Wait!');
        });
        socket.on('start', function() {
            $('#chat').val('');
            $('#buzzer').attr({disabled: false});
            $('#buzzer').html('Buzz')
            start_time = Date.now();
        });
        socket.on('remove_user', function(data) {
            window.location.replace("{{ url_for('main.index') }}");
        });
        socket.on('remove_quizzer', function(data) {
            $('#chat').val($('#chat').val() + '<< ' + data.username + ' was removed >>\n');
            $("#" + data.username + "_tile").remove();
        });
    });
    function buzz() {
        socket.emit('buzz', {});
        $('#buzzer').attr({disabled: true});
        $('#buzzer').html('Buzzed!');
    };
    function reset() {
        socket.emit('reset', {});
    };
    function start() {
        socket.emit('start', {});
    };
    function remove_user(username) {
        $("#" + username + "_tile").remove();
        socket.emit('remove_user', {'username': username});
    };
</script>
