{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="center-block" style="vertical-align: middle; text-align: center; max-width: 300px; ">
        <img style="width:100px"; src="{{ url_for('static', filename='logo_250.png') }}">
        <br>
        <h1>QuizBuzz!</h1>
    </div>
    <hr style="padding: 0px; margin: auto; width: 300px;">
    <div class="center-block" style="vertical-align: middle; max-width: 300px; ">
        <div class="text-left" style="width:49%; margin: auto; float: left; padding: 2px;">
            <button id="joinFormButton" class="btn" style="width: 100%; margin: auto; box-shadow: inset 0px 0px 5px #c1c1c1;">Join</button>
        </div>
        <div class="text-left" style="width:49%; margin: auto; float: left; padding: 2px;">
            <button id="createFormButton" class="btn" style="width: 100%; margin: auto;">Create</button>
        </div>
        <br>
        <div class="text-left"  style="width:100%;margin: auto; float: left; padding: 2px; box-shadow: inset 0px 0px 0px #c1c1c1;" id="create_or_join_div">
            <div id="joinFormDiv">
                {{ wtf.quick_form(join_form) }}
            </div>
            <div id="createFormDiv" style="display: none;">
                {{ wtf.quick_form(create_form) }}
            </div>
        </div>
        <div class = "log"></div>
    </div>

{% endblock %}
{% block scripts %}
    {{ super() }}
    {% include '_home_scripts.html' %}
{% endblock %}